PLAYWRIGHT_BASE_URL=https://192.168.100.100:8083
PLAYWRIGHT_LOGIN_SECRET=
PLAYWRIGHT_LOCAL_RUNTIME_TARGET=
PLAYWRIGHT_REMOTE_VESTA_SSH=
PLAYWRIGHT_REMOTE_VESTA_SSH_JUMP=
PLAYWRIGHT_ADMIN_USER=admin
PLAYWRIGHT_ADMIN_PASSWORD=
PLAYWRIGHT_DOCKER_USER=dockere2e
PLAYWRIGHT_DOCKER_PASSWORD=ChangeMe-123!
